html, body {
    height: 100%;
    margin: 0;

    font-family: sans-serif;

    background-color: #171A1D;
}

body, #form-login form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body * {
    flex: none;
}

h1, h2, h3, h4, h5, h6, p, label {
    color: #A1A1A1;
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 3em;
    text-transform: uppercase;
}

a, a:visited {
    text-decoration: none;
    color: #81a2be;

    transition: color 0.5s;
}

a:hover {
    text-decoration: underline;
    color: #516DB3;

    transition: color 0s;
}

.content {
    margin-top: 40px;
    text-align: center;
}

form * {
    display: block;
    margin: 5px 0;
}

form > input {
    padding: 6px;
    border-radius: 6px;
}

form > input[type=submit] {
    padding: 6px 68px;
    font-weight: bolder;
    margin-top: 10px;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;

    background-color: #D1E0ED;
}

form > input[type=submit]:hover {
    background-color: #ACBBC8;
    cursor: pointer;
}

.spacer {
    margin: 100px 0;
}


/*      PASSWORD NOTICE     */

#password-notice {
    display: block;
    height: 100px;
    width: 60%;
    position: fixed;
    z-index: 1;

    bottom: 0;

    background-color: rgba(0,0,0,0.5);
    border-radius: 6px;
}

#password-notice-header {
    float: right;
    padding: 0 5px;
}

.close {
    color: #AAAAAA;
    float: right;
    font-weight: bold;
    font-size: 30px !important;
}

.close:hover, .close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

#password-notice-content {
    margin-top: 25px;
    margin-left: 15px;
}

#password-notice-content h3, .warning {
    color: #A13D3D;
}


/*      TABLE      */

table {
    color: #A1A1A1;
    margin-top: 30px;
    margin-bottom: 100px;
    border: 2px solid #343E46;
    border-radius: 6px;
    -moz-border-radius: 6px;
    border-spacing: 0;
}

th {
    background-color: #516DB3;
    padding: 10px;
    border: 1px solid #343E46;
}

tbody tr:first-child > th:first-child {
    border-top-left-radius: 4px;
}

tbody tr:first-child > th:last-child {
    border-top-right-radius: 4px;
}

tr td {
    padding: 10px;
    border: 1px solid #343E46;
}

tr td:last-child {
    padding: 0;
}

td form {
    display: block !important;
    height: 100%;
    width: 100%;
}

table input[type="submit"] {
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
}
